@mixin aligning-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$days: (mon: 1, tue: 2, wed: 3, thu: 4, fri: 5, sat: 6, sun: 7);

body {
  margin: 0;
  @include aligning-center;
  min-height: 100vh;
}

.calendar {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 100px);
  grid-gap: 1px;
  
  div {
      display: none;
      line-height: 100px;
      text-align: center;
      background: #eeeeee;
      border: 1px black solid;
      transition: .5s;
     
      &:hover {
        cursor: pointer;
        background: pink;
        transform: translateY(-20px);
      }
  }
}

@for $totalDays from 28 through 31 {
  @for $i from 1 through $totalDays {
    .calendar-#{$totalDays} div:nth-child(#{$i}) {
      display:block;
      &:after {
        content: "#{$i}";
      }
    }
  }
}

@each $days, $number in $days {
  div.calendar-#{$days} div:nth-child(1) {
      grid-column-start: #{$number};
  }
}
